* {
    padding: 0px;
    margin: 0px;
    font-style: roboto;
}

.header {
    background-image: url("./images/header.jpg");
    padding: 11%;
    width: 100%;
}

.header_text {
    font-size: 50px;
    color: #FFFFFF;
}

#tillbaka {
    margin: 10px;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

.title_name {
    text-align: center;
    font-size: 50px;
    padding: 10px;
}

.info {
    margin-bottom: 50px;
}

.info_title {
    text-align: center;
    font-size: 40px;
    padding: 10px;
    margin: 10px;
}

.info_text {
    font-size: 20px;
    margin-left: 100px;
    margin-right: 100px;
}

howto {
    margin-bottom: 50px;
}

.howto_title {
    text-align: center;
    font-size: 40px;
}

.howto_under {
    text-align: center;
    font-size: 25px;
    margin-bottom: 20px;
}

.howto_text {
    font-size: 20px;
    margin-left: 100px;
    margin-right: 100px;
}

.form_button {
    text-align: center;
}

.footer {
    padding: 10px;
    margin-top: 50px;
    background-color: #444444;
}

.return_to_top {
    text-align: right;
    font-size: 20px;
    color: #FFFFFF;
    text-decoration: none;
}

.footer_text {
    color: #FFF;
    font-size: 20px;
}

.footer_contact {
    text-align: center;
}

.footer_socialmedia {
    text-align: center;
}

.formular {
    margin-top: 50px;
    margin-right: 400px;
    margin-left: 50px;
}

.form_title {
    text-align: center;
    font-size: 50px;
}

.form_text {
    text-align: center;
    font-size: 25px;
}

#formLogin {
    max-width: 30%;
    margin: auto;
}

#formIsh {
    margin: auto;
}

#bodyIsh {
    margin-left: 10px;
    margin-right: 10px;
}
